:root {
    --primary-bg-color: #E5E5E5;
    --secondary-bg-color: #FFFFFF;
    --color-bg-team: #F4F4FD;
    --color-main-text: #434455;
    --color-secondary-text: #2E2F42;
    --accent-pressed-state: #404BBF;
    --accent: #4D5AE5;
}

body {
    background-color: var(--primary-bg-color);
    color: #434455;
    font-family: 'Roboto', sans-serif;  
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;    
}

.list {
    list-style: none;
}

.page-header {
    background-color: var(--secondary-bg-color);
}

.logo {
    color: var(--color-secondary-text);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
}

.site-nav .link {
    color: var(--color-secondary-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;    
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-pressed-state);
}

.site-adr {
    color: var(--color-main-text);
}

.hero-section {
    background-color: var(--color-secondary-text);
}

.hero-title {
    color: var(--secondary-bg-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.section-title {
    color: var(--color-secondary-text);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.features .section-title {   
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.features {
    background-color: var(--primary-bg-color);
}

.team {
    background-color: var(--color-bg-team);
}

.button {
    color: var(--accent);
    background-color: var(--color-bg-team);
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
}

.button:hover,
.button:focus {
    color: var(--secondary-bg-color);
    background-color: var(--accent-pressed-state);
}

.button.hero { 
    color: var(--secondary-bg-color);
    background-color: var(--accent);
    font-family: inherit;
    font-weight: 500;
}

.button.hero:hover,
.button.hero:focus {
    color: var(--secondary-bg-color);
    background-color: var(--accent-pressed-state);
}

.section-title.doing,
.section-title.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
